{% include "header.html" %}

<body>
  <div class="title-div">
    <h1 class="title-text">Meroezkoz nyilvantarto</h1>
  </div>

  <div class="tool-table">
    <table class="table">
      <thead>
      <tr class="table-primary">
        <td>#</td>
        <th>Status</th>
        <th>Ezkoz Tipusa</th>
        <th>Azonosito</th>
        <th>Gyarto</th>
        <th>Gyari szam</th>
        <th>Tarolas helye</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for tool in all_tools %}

      <tr class="table-primary">
        <td>{{ tool.id }}</td>
        <td>{{ tool.status }}</td>
        <td>{{ tool.tool_type }}</td>
        <td>{{ tool.tool_id }}</td>
        <td>{{ tool.tool_brand }}</td>
        <td>{{ tool.serial_number }}</td>
        <td>{{ tool.location }}</td>
        <td><a href=""><button class="tool-button" type="button" >More Info</button></a></td>
        <td><a href=""><button class="tool-button" type="button" >Edit Tool</button></a></td>
        <td><a href="{{ url_for('remove_tool', tool_id=tool.id) }}"><button class="tool-button" type="button" >Remove Tool</button></a></td>
      </tr>

      {% endfor %}
      </tbody>
    </table>

  </div>

  <!--
  This script places a badge on your repl's full-browser view back to your repl's cover
  page. Try various colors for the theme: dark, light, red, orange, yellow, lime, green,
  teal, blue, blurple, magenta, pink!
  -->
  <script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script>


</body>

</html>